* {
    box-sizing: border-box;
}

body {
    margin: 0
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 5px;
}
div{
    background-color: chocolate;
}